name: vitest workflow
on:
    push:
        branches:
            - dev
        paths:
            - "packages/*/src/**/*"
            - "yarn.lock"
            - "package.json"
            - "packages/*/package.json"
            - "!*.md"
            - "./**/*.md"

env:
    CI: false
    ELECTRON_SKIP_BINARY_DOWNLOAD: 1

jobs:
    test:
        runs-on: ubuntu-latest
        name: unit tests
        steps:
            - name: Install node
              uses: actions/setup-node@v4
              with:
                  node-version: 20
            - name: Checkout
              uses: actions/checkout@v4

            - name: Enable corepack
              run: corepack enable

            - name: Install dependencies
              run: yarn

            - name: Build @darkwrite/common
              run: yarn build:common

            - name: Run tests
              run: yarn test:all
